db=mongodb+srv://<user>:<pass>@cluster.0000.mongodb.net/steamIdle
apiAuth=apiPassword
apiHost=http://localhost:3000
protocol=http
host=localhost:8080
steamApiKey=0000
stripeKey=0000
publicStripeKey=0000