<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta property="og:title" content="Steam Idler | idlefor.me">
   <meta property="og:url" content="https://idlefor.me">
   <meta property="og:description" content="Easy and automated steam idler. Boost your game hours cheap.">
   <!-- <meta property="og:image" content="https://"> -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/ico" href="/assets/branding/favicon.ico">
   <link rel="icon" type="image/png" href="/assets/branding/favicon.png">
   <link rel="stylesheet" href="/assets/css/skeleton.css">
   <link rel="stylesheet" href="/assets/lib/semantic/semantic.min.css">
   <link rel="stylesheet" href="/assets/css/header.css">
   <% if (typeof css !== "undefined") { %>
      <link rel="stylesheet" href="/assets/css/<%-css-%>.css">
   <% } %>
   <script src="/assets/js/jquery.min.js"></script>
   <script src="/assets/lib/semantic/semantic.min.js"></script>
   <script src="https://kit.fontawesome.com/0901fd4d42.js" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
   <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
   <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="30116092-9b4c-4f7b-9e44-e3c29f1b5068";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
   <title>idlefor.me | <%-title-%></title>
   <style>
      body{
         background-color: #121212;
         color: white;
      }
      a.link{
         color: #6b60d4 !important;
      }
   </style>
</head>