h1{
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 2.5em;
   margin-bottom: 20px;
   color: white;
   background-color: white;
   /* background:  linear-gradient(to right, #0f0c29, #302b63, #24243e);
   background:  -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h1::selection{
   background: none;
}

#login-btn, #steam-login-btn{
   width: 50%;
   color: white;
   border-radius: 5px;
   background-color: #302b63;
   transition: transform .2s, box-shadow .2s;
   box-shadow: -1px 4px 11px 0px rgba(0, 0, 0, 0);
   background: linear-gradient(45deg, #302b63 50%, #3560ab 100%);
   margin-bottom: 15px;
}

#steam-login-btn{
   background: linear-gradient(45deg, #162b3e, #181f27) !important;
}

#steam-login-btn i, #gitlab-login-btn i {
   font-size: 1.5em;
   margin-left: 0px;
   vertical-align: middle;
   opacity: 1;
}

#login-btn:hover, #steam-login-btn:hover, #gitlab-login-btn:hover{
   /* transform: translate(2px, -2px); */
   box-shadow: -1px 4px 11px 0px rgba(0, 0, 0, 0.5);
}

.left-login, .right-login{
   height: 100vh !important;
}

.left-login{
   display: flex;
   justify-content: center;
   background-color: #302b63;
   background:  linear-gradient(45deg, #0f0c29, #302b63, #24243e);
   background:  -webkit-linear-gradient(45deg, #0f0c29 10%, #302b63 70%, #24243e 180%);
   /* box-shadow: 1px 0px 11px 1px rgba(0, 0, 0, 0.5); */
}

.left-login img{
   width: 80%;
}

.right-login{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.right-login form{
   width: 80%;
}

.login-input{
   border-bottom: 2px solid #e6e6e6;
   position: relative;
   margin-bottom: 15px;
}

.ui.transparent.input.login-input>input{
   border: none;
   outline: none;
   background: none;
   padding: 0 5px !important;
}

.login-input span::before{
   content: attr(data-placeholder);
   position: absolute;
   top: 50%;
   left: 5px;
   color: #e6e6e6;
   transform: translateY(-50%);
   z-index: -1;
   transition: .25s;
   font-weight: 600;
}

.login-input span::after{
   content: '';
   position: absolute;
   width: 0%;
   height: 2px;
   left: 0;
   bottom: -2px;
   background: linear-gradient(45deg, #302b63 20%, #104196 80%);
   transition: .5s;
}

.focus + span::before{
   top: -6px;
}

.focus + span::after{
   width: 100%;
}

.focus + span::before{
   font-size: 0.85em;
}
@media only screen and (max-width: 550px) {
   .left-login {
      height: 15vh !important;
   }
   .left-login img{
      height: 10vh !important;
      margin: auto;
   }
   .right-login{
      height: 60vh !important;
      display: flex;
      text-align: center;
      margin-top: 25px;
   }
   #right-login-div{
      margin: auto;
   }
   form{
      margin: auto;
   }
}